{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if isIconSupplied}}
      <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-{{icon}}"></i>
            </span>
        {{input disabled=disabled placeholder=placeholder class="form-control aupac-typeahead" name=name autocomplete="off" value=initialValue}}
      </div>
  {{else}}
    {{input disabled=disabled placeholder=placeholder class="form-control aupac-typeahead" name=name autocomplete="off" value=initialValue}}
  {{/if}}
{{/if}}
