<div class="container">
  <h2>aupac-typeahead examples</h2>
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Searching a local array</h4></div>
    <div class="panel-body">

      <div class="col-xs-12">
          <h5>Selected Country: {{country}}</h5>
      </div>

      <div class="col-xs-12">
        {{#aupac-control label="Country" mandatory=true errors=errors.country leftIcon="glyphicon glyphicon-search"}}
          {{aupac-typeahead action=(action (mut country))
          class='form-control'
          source=countrySource
          placeholder='Search for a country'
          }}
        {{/aupac-control}}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading"><h4>Customise your templates</h4></div>
      <div class="panel-body">

          <div class="col-xs-12">
              <h5>Selected Country: {{country}}</h5>
          </div>

          <div class="col-xs-12">
            {{#aupac-control label="Country" mandatory=true errors=errors.country leftIcon="glyphicon glyphicon-search"}}
              {{aupac-typeahead action=(action (mut country))
              class='form-control'
              source=countrySource
              placeholder='Search for a country'
              suggestionTemplate=suggestionTemplate
              headerTemplate=headerTemplate
              footerTemplate=footerTemplate
              notFoundTemplate=notFoundTemplate
              pendingTemplate=pendingTemplate
              }}
            {{/aupac-control}}
          </div>
      </div>
  </div>

    <h2>aupac-ember-data-typeahead examples</h2>
  <div class="panel panel-default">
      <div class="panel-heading"><h4>ember-data model search</h4></div>
      <div class="panel-body">

          <div class="col-xs-12">
              <h5>Selected Employee: {{employee.name}}</h5>
          </div>

          <div class="col-xs-12">
            {{#aupac-control label="Employee" mandatory=true errors=errors.employee leftIcon="glyphicon glyphicon-search"}}
              {{aupac-ember-data-typeahead action=(action (mut employee))
              class='form-control'
              modelClass='employee'
              placeholder='Type employee...'
              }}
            {{/aupac-control}}
          </div>


      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading"><h4>ember-data model search with preselected item</h4></div>
      <div class="panel-body">

          <div class="col-xs-12">
              <h5>Selected task: {{task.name}}</h5>
          </div>

          <div class="col-xs-12">

            {{input type="checkbox" checked=isDisabled}} Disabled?<br>
            {{#aupac-control label="Task" mandatory=true errors=errors.task leftIcon="glyphicon glyphicon-search"}}
              {{aupac-ember-data-typeahead action=(action (mut task))
              selection=initialTask
              class='form-control'
              modelClass='task'
              placeholder='Type task...'
              disabled=isDisabled
              }}
            {{/aupac-control}}
          </div>

      </div>
  </div>


</div>


