<div class="container">
  <h1>aupac-typeahead examples</h1>

  <div class="panel panel-default">
      <div class="panel-heading"><h4>ember-data model search</h4></div>
      <div class="panel-body">

          <div class="row">
              <div class="col-xs-12">
                {{input type="checkbox" name="isAdmin" checked=disabled}} Disable
              </div>
              <div class="col-xs-12">
                  <label>Placeholder</label>
                {{input type="text" name="placeholder" value=placeholder class="form-control"}}
              </div>
              <div class="col-xs-12">
                  <div class="input-group">
                      <span class="input-group-addon">@</span>
                      {{aupac-typeahead action=(action (mut selection))
                      class='form-control'
                      store=store
                      modelClass='task'
                      }}
                      <span class="input-group-addon">@</span>
                  </div>
              </div>
              <div class="col-xs-12">
                  You selected: {{#if selection.id}}ID:{{selection.id}} - {{selection.name}}{{/if}}
              </div>
          </div>

      </div>
  </div>
</div>